*{
	font-family: Arial, Verdana, sans-serif;
	line-height: 1.5;
	box-sizing: border-box;
}

h1 {
  color: #2A1106;
  text-align: center;
  padding: 8px;
}

h1 a {
  text-decoration: none;
  color: #C82929;
  background-color: #EAC4A1;
}


header, footer{
	padding: 22px;
	background-image: url("https://hips.hearstapps.com/hmg-prod/images/honeywalnutshrimp1-1643166565.jpg?crop=1.00xw:0.754xh;0,0&resize=1200:*");
  text-align: center;
	color: #2A1106;
  font-weight: bold;
}

footer p{
  color: #C82929;
  background-color: #EAC4A1;
}

body{
	padding: 8px;
	background-image: url("https://images.unsplash.com/photo-1557682233-43e671455dfa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8b3JhbmdlJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80");
}

main{
	padding: 20px;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
	text-align: center;
}

h2 {
	text-align: center;
  color: #2A1106;
}

h3{
	text-align: center;
	margin: 0;
  }

a {
  color: black;
}

p{
	max-width: 30ch;
	margin: 16px auto;
  color: #2A1106;
}

nav {
  display: inline;
}

nav ul {
  columns: 4;
  -webkit-columns: 4;
  -moz-columns: 4;
}

nav li {
  list-style-type: none;
  width: 400px;
}

nav a {
  display: block;
  background-color: white;
  color: #EBA332;
  padding: 2px 10px 2px 10px;
  margin: 2px 200px 18px 10px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

form {
	width: 350px;
	margin: 16px;
	background-color: #EAC4A1;
	padding: 16px;
	color: #363432;
	border: 4px;
  overflow: hidden;
}

#name {
	border-color: red;
	border-width: 3px;
	box-shadow: -2px 2px 20px #363432;
}

#phone {
	border-color: red;
	border-width: 3px;
	box-shadow: -2px 2px 20px #363432;
}

#email {
	border-color: red;
	border-width: 3px;
	box-shadow: -2px 2px 20px #363432;
}

input, label, select, textarea {
	display: block;
	width: 100%;
}

label {
	margin: 0px 0px 4px 16px;
	font-weight: bold;
}

input, select, textarea {
	padding: 10px;
	font-size: 16px;
	margin-bottom: 24px;
	border-radius: 4px;
	border: 1px inset #196774;
}

fieldset {
	margin: 24px;
	border-radius: 4px;
	border-color: #363432;
	display: grid;
	grid-column: 1;
	row-gap: 8px;
}

legend {
	font-weight: bold;
}

fieldset > label {
	margin-left: 0;
}

input[type=reset] {
	background-color: #C82929;
	border: none;
	color: white;
	font-size: 18px;
	font-weight: bold;
	box-shadow: -6px 6px 10px #363432;
}

input[type=submit] {
	background-color: #C82929;
	border: none;
	color: white;
	font-size: 18px;
	font-weight: bold;
	box-shadow: -6px 6px 10px #363432;
}

input[type=invalid]:invalid {
	border: 4px solid #EF6024;
	box-shadow: -3px 3px 5px #363432;
}

input[type=invalid]:focus {
	outline: 3px solid #196774;
}

input[type=reset]:focus {
	outline: 3px solid #EF6024;
}

input[type=reset]:hover {
	box-shadow: -3px 3px 5px #363432;
}

input[type=submit]:focus {
	outline: 3px solid #EF6024;
}

input[type=submit]:hover {
	box-shadow: -3px 3px 5px #363432;
}

input[type=radio] + label {
  cursor: pointer;
	display: flex;
	align-items: center;
}

input[type=radio] {
  appearance: none;
  margin: 0;
	padding: 0;
	border: none;
	font-size: 0;
	border-radius: 0;
}

input[type=radio] + label::before {
  content: "\00a0";
  font-size: 2.25em;
  line-height: 0.65;
  border-radius: 50%;
  display: inline-block;  
  height: 20px;
  width: 22px;
  text-align: center;
  margin-right: 16px;
  border: 2px solid white;
  background-color: #fff;
  padding-bottom: 2px;
}

input[type=radio]:checked + label::before {
  content: "\2022";
  color: #fff;
  background: #2C9B52;
}

input[type=radio]:focus{
	outline: none;
}

input[type=radio]:focus + label::before {
  box-shadow: 0 0 0 2px #196774;
}